@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

#app{
    width:100%;
    height: 100vh;
    background-color: $color-light-grey;

}

h1 {
    color: $color-secondary;
}

#nav{
    height: 80px !important;
    width: 100%;
    nav{
        background-color: $color-dark;
        height: 100%;
        color: $color-primary;
        a{
        color: $color-primary !important;
            &:hover{
                color: $color-secondary !important;
            }
        }

    }
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* main  */
main{
    height: calc(100% - 80px);
}
.main-content {

    height: 100%;
    width: calc(100% - 150px);
    overflow-y: auto;
    padding: 20px;
}

#sidebar {
    width: 150px;
    height: 100%;
    background-color: $color-dark;
    padding: 20px;
    a{
        color: $color-primary !important;
        font-weight: bold;
        &:hover{
            color: $color-secondary !important;
        }
    }
}
